{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Ibrahim Ali</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Ibrahim Ali. Currently Pursuing Bachelors in
                    Software Engineering
                    .My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    learning Wordpress and Shopify.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:ibrahimanwar1221@gmail.com'><img
                        src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png" height="40" width="40"></a> :
                ibrahimanwar1221@gmail.com<br><br>       
                <a target="_blank" href='https://www.linkedin.com/in/ibrahim-ali-062abb1a3/'><img
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/800px-LinkedIn_logo_initials.png" height="40" width="40"></a> :
                Ibrahim Ali<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Ibrahim Ali</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Ibrahim Ali. I am a hardworking person currently
                     Pursuing bachelors in Software Engineering
                    . My main focuses on the technical side are Cloud computing and mobile App development.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:ibrahimanwar1221@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                ibrahimanwar1221@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/ibra_him_ibbi/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174855.png" height="44" width="44"></a> :
                        ibrahim ali<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/ibrahim-ali-062abb1a3/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> :
                ibrahim ali<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}